<div style="font-family: georgia; margin-bottom: 20px">
<center>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1BEVm6R4bs0V6Y_FPNFZMtOpihprZ6ABVVA-uI0sQs_yalcgK" style="width:100px; position: absolute; left: 150px; top: 50px">
        <h1>Universidade de Minas Gerais - UFMG</h1>
        <h2 style="margin-top: 10px">Departamento de Ciência da Computação - DCC</h2>
        <h2>DCC011 - Introdução a Banco de Dados</h2>
        <br><br>
        <h1>Trabalho Prático 02</h1>
        <h2>Internet Movie Database - IMDB</h2>
        <br>
        <br>
    </div>
</center>
        Fernanda Rocha de Morais Goncalves<br>Matheus Ibrahim Fonseca Magalhaes<br>Matheus Henrique Antunes Lima
    </div>

In [1]:
import io
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import time

In [2]:
conn = sqlite3.connect('../sqlite/imdb.db')
cursor = conn.cursor()

In [5]:
query = "SELECT primary_title AS 'Título Principal', rating AS Nota, votes AS Votos FROM ratings NATURAL JOIN titles ORDER BY votes DESC LIMIT 100"
start_time = time.time()
df = pd.read_sql_query(query, conn)
print(df)
print("--- %s seconds ---" % (time.time() - start_time))

                       Título Principal  Nota    Votos
0              The Shawshank Redemption   9.3  2152571
1                       The Dark Knight   9.0  2124670
2                             Inception   8.8  1886650
3                            Fight Club   8.8  1719582
4                          Pulp Fiction   8.9  1689104
..                                  ...   ...      ...
95              Avengers: Age of Ultron   7.3   686664
96  Captain America: The Winter Soldier   7.7   685394
97                         The Hangover   7.7   680909
98                          Gran Torino   8.1   680854
99                             Scarface   8.3   680354

[100 rows x 3 columns]
--- 23.58300018310547 seconds ---

In [6]:
query = "SELECT primary_title AS 'Título Principal', runtime_minutes as 'Duração' FROM titles WHERE type = 'movie' AND runtime_minutes > 150"
start_time = time.time()
df = pd.read_sql_query(query, conn)
print(df)
print("--- %s seconds ---" % (time.time() - start_time))

                                   Título Principal  Duração
0                   Les Misérables, Part 2: Fantine      300
1                            The Beloved Adventurer      450
2                              The Hazards of Helen     1428
3                 Lucille Love: The Girl of Mystery      300
4                             The Perils of Pauline      199
...                                             ...      ...
7182                                 Jan Svankmajer      313
7183                                 His Last Stand      990
7184  A Classic Tour of Scotland: Footloose Special      151
7185                                       Xenosaga      288
7186                       Cali: ayer, hoy y mañana      250

[7187 rows x 2 columns]
--- 13.929370880126953 seconds ---

In [7]:
query = "SELECT primary_title AS 'Título Principal', rating AS 'Nota', votes AS 'Votos' FROM titles NATURAL JOIN ratings WHERE rating > 9.8 AND (type = 'movie' OR type = 'tvMovie')"
start_time = time.time()
df = pd.read_sql_query(query, conn)
print(df)
print("--- %s seconds ---" % (time.time() - start_time))

                                    Título Principal  Nota  Votos
0                                The Maltese Phallus  10.0      5
1                                 Girls Loving Girls  10.0      5
2                                        Triple Seat  10.0      6
3                                             Kirket  10.0    568
4                              Vattamesha Sammelanam  10.0      5
5                                               Home   9.9     17
6                                   Der Kaktusgarten  10.0      6
7                                         Mrs. Dally   9.9      9
8                                           Die Möwe  10.0      5
9                                  Mrs. Cheneys Ende  10.0      6
10  Bei Tag und bei Nacht oder Der Hund des Gärtners  10.0      5
11                                Die eiskalte Nacht  10.0      5
12                      Das Glück sucht seine Kinder  10.0      5
13                          Joan of Arc at the Stake   9.9     16
14                                   Der letzte Raum  10.0      5
15                                            Gideon   9.9      8
16                                        Montserrat   9.9      7
17                         Die Reise des Simon Feder  10.0      5
18                     Arturo Benedetti Michelangeli  10.0      8
19                                    Mister Barnett  10.0      5
20                              Zwischenfall im Roxy  10.0      6
21                Große Schmährede an der Stadtmauer  10.0      5
22                               Tote ohne Begräbnis  10.0     13
23                            Kein Ersatz für Perlen  10.0      5
24                                   Fliegender Sand   9.9     12
25                       Ein Weihnachtslied in Prosa  10.0      7
26                                             Under  10.0      6
27                                          Collapse  10.0     55
28                               Leben im Hochwasser  10.0      5
29                                  Platons Gastmahl  10.0      5
30                                   Die gute Sieben   9.9     17
31                                        Burza rada   9.9      9
32                            Natjecaj za crnu pricu   9.9      9
33      Simpósio Internacional de Escultura em Pedra  10.0      5
34                                             Kvart   9.9     16
35                    Potpisani 04 - Paja Shishkebab   9.9    143
36                               Poios ti zoi mou...   9.9      7
37        Potpisani 07: Garaza, osveta i jos ponesto   9.9      7
38                 La bataille des droits de l'homme  10.0      5
39                               Yours truly Roohani  10.0    164
--- 7.576808214187622 seconds ---

In [9]:
query = "SELECT name AS 'Nome', born AS 'Data de Nascimento', COUNT(*) AS 'Quantidade' FROM people NATURAL JOIN crew WHERE category = 'self' AND born <> 'NaN' AND died IS NULL GROUP BY person_id HAVING COUNT(*) > 100 ORDER BY 'Quantidade', 'Data de Nascimento'"
start_time = time.time()
df = pd.read_sql_query(query, conn)
print(df)
print("--- %s seconds ---" % (time.time() - start_time))

                Nome  Data de Nascimento  Quantidade
0       Kirk Douglas                1916         182
1       Raquel Welch                1940         107
2        John Cleese                1939         313
3          Brad Pitt                1963         152
4        Woody Allen                1935         324
...              ...                 ...         ...
5520    Manu Sánchez                1985         116
5521       Jan Macák                1997         783
5522    Tomás Sedivý                1980         143
5523  Zoltán Ceglédi                1979         119
5524   Diana Belbita                1996         119

[5525 rows x 3 columns]
--- 224.16770219802856 seconds ---

In [ ]:
f = open('../output.html', 'w')
f.write('<div class="table-responsive" style="max-height: 400px; overflow-y: auto"><table class="table"><thead><tr>')
f.write('<th scope="col">Nome</th><th scope="col">Data de Nascimento</th><th scope="col">Nome</th></tr></thead><tbody>')
for row in df.values:
    f.write('<tr>')
    for col in row:
        f.write('<td>')
        f.write(str(col))
        f.write('</td>')
    f.write('</tr>')
f.write('</tbody></table></div>')
f.close()

In [ ]:
query = "SELECT name AS 'Nome', born AS 'Data de Nascimento' FROM crew NATURAL JOIN people WHERE born <> 'NaN'AND category = 'producer' GROUP BY person_id ORDER BY 'Data de Nascimento' DESC LIMIT 5"
start_time = time.time()
df = pd.read_sql_query(query, conn)
print(df)
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
f = open('../output.html', 'w')
f.write('<div class="table-responsive" style="max-height: 400px; overflow-y: auto"><table class="table"><thead><tr>')
for col in df.columns:
    f.write('<th scope="col">')
    f.write(str(col))
    f.write('</th>')
f.write('</tr></thead><tbody>')
for row in df.values:
    f.write('<tr>')
    for col in row:
        f.write('<td>')
        f.write(str(col))
        f.write('</td>')
    f.write('</tr>')
f.write('</tbody></table></div>')
f.close()

In [ ]:
query = "SELECT primary_title AS 'Título Principal' FROM titles NATURAL JOIN akas WHERE title_id IN (SELECT title_id FROM titles JOIN episodes ON title_id = show_title_id WHERE type = 'tvSeries' AND ended = premiered + 1 GROUP BY title_id HAVING MAX(season_number) = 1) GROUP BY title_id HAVING COUNT(language)  > 5"
start_time = time.time()
df = pd.read_sql_query(query, conn)
print(df)
print("--- %s seconds ---" % (time.time() - start_time))